// ─────────────────────────────────────────────────────────────────────────────
// ollama/ModelsConfig.jsx
//
// Это отдельный файл с настройками моделей.
// Его можно менять без трогания UI: если добавите новую модель,
// интерфейс сам подхватит её из этого списка.
// ─────────────────────────────────────────────────────────────────────────────

export const MODELS = {
         fast: {
            id: '(название модели)',
            label: '(что будет отображаться в селлекторе выбора)',
            description: '(описание модели)',
            thinkMode: '(false/true - в зависимости от того, хочешь ли включить режим размышления)',
         },
         think: {
            id: '(название модели)',
            label: '(что будет отображаться в селлекторе выбора)',
            description: '(описание модели)',
            thinkMode: '(false/true - в зависимости от того, хочешь ли включить режим размышления)',
         },
      }